/*隐藏滚动条*/
::-webkit-scrollbar {
    display: none;
}
.all-body{
    width: 1080px;
    height: auto;
    margin: 0 auto;
}

.carousel-img{
    width: 1080px;
    height: 560px;
}

/*搜索框*/
.search{
    width: 410px;
    padding-top: 38px;
    padding-bottom: 38px;
    margin: auto;
}


.something{
    width: 982px;
    height: 665px;
    margin:49px auto 0 auto;
}

.goods-item{
    width: 234px;
    height: 300px;
    border: 1px solid #FF0036;
    float: left;
    margin-left: 68px;
    border-bottom: 15px solid #f5f5f5;
}
.goods-item-img{
    width: 234px;
    height: 250px;
}