.search-body{
    width: 408px;
    height: 38px;
    border-style: solid;
    border-width:2px 0 2px 2px;
    border-color: #FF0036;
    display: flex;
    justify-content: space-between;
}

.search-box{
    font-size: 14px;
    width: 276px;
    height: 34px;
    border: none;
    margin-left: 3px;
    margin-top: 1px;
}

.search-btn{
    width: 125px;
    height: 38px;
    color: #fff9ec;
    border: none;
    background-color: #FF0036;
}