<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/plugins/layui/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css"/>
</head>
<body>
<div class="admin-head">
    <h1 class="admin-logo">吃货聚集地</h1>
    <i class="layui-icon">&#xe614;</i>
    <i class="layui-icon">&#xe642;</i>
    <div class="admin-user">
        <img  class="admin-img" src="../static/img/头像.png"/>
        <h3 class="admin-username">管理员名称</h3>
    </div>

</div>
<div class="admin-body">
    <div class="admin-navigation">
        <ul class="layui-nav layui-nav-tree" lay-filter="admin">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:analysis()">数据图示</a>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">文章审核</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:auditArticle()">待审核</a></dd>
                    <dd><a href="javascript:auditedArticle()">已审核</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">人员审核</a>
                <dl class="layui-nav-child">
                    <dd><a href="">待审核</a></dd>
                    <dd><a href="">已审核</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="admin-card"></div>
</div>


<script type="text/javascript" src="../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="../static/plugins/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/admin.js"></script>
</body>
</html>