<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="stylesheet" type="text/css" href="../static/plugins/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/article.css">
</head>
<body>
<!--导航栏-->
<div class="mapTitle"></div>

<div class="article-index">
    <h1 class="articleTitle"></h1>
    <h3 class="author"></h3>
    <!--滚动图片-->
    <div class="layui-carousel " id="slideshow">
        <div class="carousel-item" carousel-item>
            <!--<div>条目1</div>-->
            <!--<div>条目2</div>-->
            <!--<div>条目3</div>-->
            <!--<div>条目4</div>-->
            <!--<div>条目5</div>-->
        </div>
    </div>

    <!--内容-->
    <div class="article-text">
        <!--测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容-->
        <!--测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容-->
        <!--测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容-->
        <!--测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容-->
    </div>

    <!--喜欢，评论，点赞，收藏数-->
    <div class="article-number">
        <!-- 点赞-->
        <div id="likeItem" class="article-number-item" state="0">
            <i id="likeBtn" class="layui-icon">&#xe6c6;</i>
            <span class="number-item" id="like"></span>
        </div>
        <!--评论-->
        <div id="commentItem" class="article-number-item" state="0">
            <i class="layui-icon">&#xe63a;</i>
            <span class="number-item" id="comment"></span>
        </div>
        <!--收藏-->
        <div id="FollowItem" class="article-number-item" state="0">
            <i id="starBtn" class="layui-icon">&#xe600;</i>
            <span class="number-item" id="star"></span>
        </div>
    </div>

    <!--发布时间-->
    <div class="article-time">
        <span>发布于</span>
        <span id="time"></span>
    </div>


    <!--评论-->
    <div class="article-comment">
        <i class="remain"></i>
        <h3>笔记评论</h3>
        <div style="float: right">
            <input class="comment-input" type="text"/>
            <button class="layui-btn insertComment">评论</button>
        </div>
        <div class="comment-items"></div>

    </div>
</div>
<script type="text/javascript" src="../static/plugins/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/article.js"></script>
</body>
</html>