<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link type="text/css" rel="stylesheet" href="../static/plugins/layui/css/layui.css"/>
</head>
<body style="width: 1080px;margin: 10px auto;">
<form class="layui-form layui-form-pane"  lay-filter="editPassword">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="password1" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="password2" required lay-verify="required" placeholder="请输入新的密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="password3" required lay-verify="required" placeholder="请再次输入新的密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="editPasswordBtn">立即提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="../static/plugins/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/editPassword.js"></script>
</body>
</html>