<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link type="text/css" rel="stylesheet" href="../static/plugins/layui/css/layui.css"/>
</head>
<body>
<div class="head-img">
    <h1>头像：</h1>
    <input/>
</div>
<div class="username">
    <h1>昵称：</h1>
    <input/>
</div>
<div class="user-sex">
    <h1>性别：</h1>
    <input/>
</div>
<div class="user-birthday">
    <h1>生日：</h1>
    <input/>
</div>
<div class="user-city">
    <h1>城市：</h1>
    <input/>
</div>
<div class="user-btn">
    <button class="layui-btn">修改密码</button>
    <button class="layui-btn">提交修改</button>
</div>
</body>
</html>