<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>吃货聚集地</title>
    <link type="text/css" href="../static/plugins/layui/css/layui.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/index.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/search.css" rel="stylesheet"/>
</head>
<body>

<!--导航栏-->
<div class="mapTitle"></div>

<div class="all-body">
    <!--搜索-->
    <div class="search"></div>

    <div class="index-body">
        <!--轮播图-->
        <div class="layui-carousel" id="slideshow">
            <div carousel-item>
                <div><img class="carousel-img" id="26577884424437794"/></div>
                <div><img class="carousel-img" id="26578465922744330"/></div>
                <div><img class="carousel-img" id="26578465922744352"/></div>
                <div><img class="carousel-img" id="26578465922744381"/></div>
            </div>
        </div>

        <!--列表-->
        <div class="something">
            <div class="goods-item">
                <img class="goods-item-img" id="26578465922744403"/>
                <div class="goods-item-title">玉林排名NO.1的成都美食|石锅饭绝了</div>
                <div class="goods-item-price">玉林排名NO.1的成都美食</div>
            </div>
            <div class="goods-item">
                <img class="goods-item-img" id="26578465922744422"/>
                <div class="goods-item-title">成都我心中最好吃的韩国料理！就藏在这里！</div>
                <div class="goods-item-price">成都我心中最好吃的韩国料理！</div>
            </div>
            <div class="goods-item">
                <img class="goods-item-img" id="26578465922744446"/>
                <div class="goods-item-title">成都美食｜人均70打卡排队三小时的网红餐厅</div>
                <div class="goods-item-price">人均70打卡排队三小时的网红餐厅</div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="../static/plugins/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/plugins/layui/layui.all.js"></script>
    <script type="text/javascript" src="../static/js/public.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>