<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>吃货聚集地</title>
    <link rel="stylesheet" type="text/css" href="./static/plugins/layui/css/layui.css"/>
</head>
<body>

<!--导航栏-->
<div class="mapTitle"></div>

<!--搜索-->
<div class="search">
    <input id="search-box" type="text"/>
    <button class="search-btn layui-icon">&#xe615;</button>
</div>

<div id="index-body">
    <!--轮播图-->
    <div id="slideshow">

    </div>
    <!--列表-->
    <div id="something">

    </div>
</div>

    <script type="text/javascript" src="./static/plugins/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="./static/plugins/layui/layui.all.js"></script>

    <script type="text/javascript" src="./static/js/index.js"></script>

</body>
</html>