<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../static/plugins/layui/css/layui.css"/>
</head>
<body>
    <div>
        <div><img src=""/></div>
        <h1>吃货聚集地</h1>
    </div>
    <form class="layui-form layui-form-pane" lay-filter="loginForm">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="userName" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码：</label>
            <div class="layui-input-block">
                <input id="paramCode" type="text" name="paramCode" required  lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><img th:src="@{code}" class="verification-code" title="验证码图片"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="login">登录</button>
            </div>
        </div>
        <p>没有帐号？前往<a href="./register.html">注册</a></p>


    </form>

    <script type="text/javascript" src="plugins/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="plugins/layui/layui.all.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
</body>
</html>