<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div>
    <div><img src=""/></div>
    <div>吃货聚集地</div>
</div>
<div class="layui-form">
    <div>
        用户名：
        <input id="userName" type="text"/>
    </div>
    <div>
        密码：
        <input id="password" type="password"/>
    </div>
    <div>
        确认密码：
        <input id="pwd" type="password"/>
    </div>
    <div>
        性别：
        <input id="sex" type="checkbox">
    </div>
    <div>
        城市：
        <input id="city" type="text">
    </div>
    <div>
        生日：
        <input id="birthday" type="text">
    </div>
    <div>
        <button id="register">注册</button>
    </div>
</div>

<script type="text/javascript" src="plugins/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="plugins/layui/layui.js"></script>
<script src="js/register.js" type="text/javascript"></script>
<script src="js/public.js" type="text/javascript"></script>

</body>
</html>