<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>甜品</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css"/>
    <link rel="stylesheet" type="text/css" href="../static/plugins/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/nearby.css">
</head>
<body>
<!--导航栏-->
<div class="mapTitle"></div>

<div class="all-body">

    <!--搜索-->
    <div class="search"></div>

    <div class="something">
        <div class="goods-item"></div>
        <div class="goods-item"></div>
        <div class="goods-item"></div>
        <div class="goods-item"></div>
        <div class="goods-item"></div>
        <div class="goods-item"></div>
    </div>

</div>

<script type="text/javascript" src="../static/plugins/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="../static/js/sweetmeats.js"></script>
</body>
</html>