<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodie.dao.AddressStreetMapper" >
  <resultMap id="BaseResultMap" type="com.example.foodie.bean.AddressStreet" >
    <id column="street_id" property="streetId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="street_name" property="streetName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    street_id, city_id, street_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from address_street
    where street_id = #{streetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from address_street
    where street_id = #{streetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.foodie.bean.AddressStreet" >
    insert into address_street (street_id, city_id, street_name
      )
    values (#{streetId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{streetName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.foodie.bean.AddressStreet" >
    insert into address_street
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="streetId != null" >
        street_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="streetName != null" >
        street_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="streetId != null" >
        #{streetId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null" >
        #{streetName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.foodie.bean.AddressStreet" >
    update address_street
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="streetName != null" >
        street_name = #{streetName,jdbcType=VARCHAR},
      </if>
    </set>
    where street_id = #{streetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.foodie.bean.AddressStreet" >
    update address_street
    set city_id = #{cityId,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR}
    where street_id = #{streetId,jdbcType=VARCHAR}
  </update>

  <select id="selectByCityId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from address_street
    where city_id = #{cityId.,jdbcType=VARCHAR}
  </select>
</mapper>