<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodie.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.example.foodie.bean.Article" >
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="article_text" property="articleText" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="tagging" property="tagging" jdbcType="VARCHAR" />
    <result column="article_place" property="articlePlace" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="TitleMap" type="com.example.foodie.bean.Article">
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="NumResultMap" type="com.example.foodie.bean.DataBean">
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="dates" property="dates" jdbcType="TIMESTAMP"/>
    <result column="num" property="num" jdbcType="INTEGER"/>
  </resultMap>


  <sql id="Base_Column_List" >
    article_id, article_title, article_text, author, create_time, tagging, article_place, 
    state, type_id
  </sql>

  <sql id="Title_Column_List">
    article_id, article_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article
    where article_id = #{articleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.foodie.bean.Article" >
<selectKey resultType="java.lang.String" keyProperty="articleId" order="BEFORE">
  select uuid_short()
</selectKey>
    insert into article (article_id, article_title, article_text, 
      author, create_time, tagging, 
      article_place, state, type_id
      )
    values (#{articleId,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR}, #{articleText,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{tagging,jdbcType=VARCHAR}, 
      #{articlePlace,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{typeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.foodie.bean.Article" >
    <selectKey resultType="java.lang.String" keyProperty="articleId" order="BEFORE">
      select uuid_short()
    </selectKey>
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleTitle != null" >
        article_title,
      </if>
      <if test="articleText != null" >
        article_text,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="tagging != null" >
        tagging,
      </if>
      <if test="articlePlace != null" >
        article_place,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null" >
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleText != null" >
        #{articleText,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagging != null" >
        #{tagging,jdbcType=VARCHAR},
      </if>
      <if test="articlePlace != null" >
        #{articlePlace,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.foodie.bean.Article" >
    update article
    <set >
      <if test="articleTitle != null" >
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleText != null" >
        article_text = #{articleText,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tagging != null" >
        tagging = #{tagging,jdbcType=VARCHAR},
      </if>
      <if test="articlePlace != null" >
        article_place = #{articlePlace,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.foodie.bean.Article" >
    update article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_text = #{articleText,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tagging = #{tagging,jdbcType=VARCHAR},
      article_place = #{articlePlace,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=VARCHAR}
  </update>

  <select id="selectByStreetId" parameterType="java.lang.String" resultMap="TitleMap"
          resultType="com.example.foodie.bean.Article">
    select
    <include refid="Title_Column_List"></include>
    from article
    where article_place like  concat(#{streetId,jdbcType=VARCHAR},"%")
  </select>

  <select id="selectByTypeId" parameterType="java.lang.String" resultMap="TitleMap"
          resultType="com.example.foodie.bean.Article">
    select
    <include refid="Title_Column_List"></include>
    from article
    where type_id = #{typeId,jdbcType=VARCHAR}
  </select>

  <select id="selectByText" parameterType="java.lang.String" resultMap="TitleMap">
    select
    <include refid="Title_Column_List"></include>
    from
    (select
    <include refid="Title_Column_List"></include>
    from article
    where article_title like concat('%',#{text,jdbcType=VARCHAR},'%')
    union all
    select
    <include refid="Title_Column_List"></include>
    from article
    where article_text like concat('%',#{text,jdbcType=VARCHAR},'%')
    union all
    select
    <include refid="Title_Column_List"></include>
    from article
    where tagging like concat('%',#{text,jdbcType=VARCHAR},'%')) a
    group by <include refid="Title_Column_List"></include>
  </select>

  <select id="selectByComment" parameterType="java.util.List" resultMap="TitleMap">
    select
    <include refid="Title_Column_List"></include>
    from article
    where article_id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectArticleNumByDay" parameterType="java.lang.String" resultMap="NumResultMap">
    select 4 as type,time as dates,count(time) as num
  from (select hour(create_time) as time
  from article
  where date_format(create_time,"%Y-%m-%d") = #{dateDay,jdbcType=VARCHAR}) x
  group by time
  </select>

  <select id="selectArticleNumByMonth" parameterType="java.lang.String" resultMap="NumResultMap">
select 4 as type,time as dates,count(time) as num
from (select day(create_time) as time
from article
where date_format(create_time,"%Y-%m") = #{dateMonth,jdbcType=VARCHAR}) x
 group by time
  </select>
  
  <select id="selectAuditArticle" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from article
    where state=0
  </select>
  
  <select id="selectPassArticle" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from article
    where article_id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="TitleMap">
    select
    <include refid="Title_Column_List"></include>
    from article
    where author = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>