<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodie.dao.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.example.foodie.bean.Follow" >
    <id column="follow_id" property="followId" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="follow_time" property="followTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    follow_id, article_id, user_id, follow_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where follow_id = #{followId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from follow
    where follow_id = #{followId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.foodie.bean.Follow" >
    <selectKey resultType="java.lang.String" keyProperty="followId" order="BEFORE">
      select uuid_short()
    </selectKey>
    insert into follow (follow_id, article_id, user_id, 
      follow_time)
    values (#{followId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{followTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.foodie.bean.Follow" >
    <selectKey resultType="java.lang.String" keyProperty="followId" order="BEFORE">
      select uuid_short()
    </selectKey>
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="followId != null" >
        follow_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="followTime != null" >
        follow_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="followId != null" >
        #{followId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="followTime != null" >
        #{followTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.foodie.bean.Follow" >
    update follow
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="followTime != null" >
        follow_time = #{followTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where follow_id = #{followId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.foodie.bean.Follow" >
    update follow
    set article_id = #{articleId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      follow_time = #{followTime,jdbcType=TIMESTAMP}
    where follow_id = #{followId,jdbcType=VARCHAR}
  </update>

  <select id="selectFollowNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(follow_id)
    from follow
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteFollow" parameterType="com.example.foodie.bean.Follow">
    delete from follow
    where article_id = #{articleId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
</mapper>