<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodie.dao.LikeMapper" >
  <resultMap id="BaseResultMap" type="com.example.foodie.bean.Like" >
    <id column="like_id" property="likeId" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="like_time" property="likeTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="LikeResultMap" type="com.example.foodie.bean.Like">
    <id column="like_id" property="likeId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="NumResultMap" type="com.example.foodie.bean.DataBean">
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="dates" property="dates" jdbcType="DATE"/>
    <result column="num" property="num" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    like_id, article_id, user_id, like_time
  </sql>
  <sql id="Like_List">
    like_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from article_like
    where like_id = #{likeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article_like
    where like_id = #{likeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.foodie.bean.Like" >
    <selectKey resultType="java.lang.String" keyProperty="likeId" order="BEFORE">
      select uuid_short()
    </selectKey>
    insert into article_like (like_id, article_id, user_id,
      like_time)
    values (#{likeId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{likeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.foodie.bean.Like" >
    <selectKey resultType="java.lang.String" keyProperty="likeId" order="BEFORE">
      select uuid_short()
    </selectKey>
    insert into article_like
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        like_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="likeTime != null" >
        like_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likeId != null" >
        #{likeId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="likeTime != null" >
        #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.foodie.bean.Like" >
    update article_like
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="likeTime != null" >
        like_time = #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.foodie.bean.Like" >
    update article_like
    set article_id = #{articleId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      like_time = #{likeTime,jdbcType=TIMESTAMP}
    where like_id = #{likeId,jdbcType=VARCHAR}
  </update>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="LikeResultMap">
    select
    <include refid="Like_List"></include>
    from article_like
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectLikeNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(like_id) as i
    from article_like
    where article_id = #{articleId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteLike" parameterType="com.example.foodie.bean.Like">
    delete from article_like
    where article_id = #{articleId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <select id="selectLikeNumByDay" parameterType="java.lang.String" resultMap="NumResultMap">
select 1 as type,time as dates,count(time) as num
from (select hour(like_time) as time
from article_like
where date_format(like_time,"%Y-%m-%d") = #{dateDay,jdbcType=VARCHAR}) x
 group by time
  </select>

  <select id="selectLikeNumByMonth" parameterType="java.lang.String" resultMap="NumResultMap">
select 1 as type,time as dates,count(time) as num
from (select day(like_time) as time
from article_like
where date_format(like_time,"%Y-%m") = #{dateMonth,jdbcType=VARCHAR}) x
 group by time
  </select>
</mapper>