<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.foodie.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.example.foodie.bean.Picture" >
    <id column="img_id" property="imgId" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="img_user" property="imgUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    img_id, img_path, img_name, img_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from picture
    where img_id = #{imgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from picture
    where img_id = #{imgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.foodie.bean.Picture" >
    insert into picture (img_id, img_path, img_name, 
      img_user)
    values (#{imgId,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{imgName,jdbcType=VARCHAR}, 
      #{imgUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.foodie.bean.Picture" >
    insert into picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="imgUser != null" >
        img_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUser != null" >
        #{imgUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.foodie.bean.Picture" >
    update picture
    <set >
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUser != null" >
        img_user = #{imgUser,jdbcType=VARCHAR},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.foodie.bean.Picture" >
    update picture
    set img_path = #{imgPath,jdbcType=VARCHAR},
      img_name = #{imgName,jdbcType=VARCHAR},
      img_user = #{imgUser,jdbcType=VARCHAR}
    where img_id = #{imgId,jdbcType=VARCHAR}
  </update>

  <select id="selectByArticleId" parameterType="java.lang.Integer" resultType="com.example.foodie.bean.Picture">
    select
    <include refid="Base_Column_List"></include>
    from picture a inner join article_picture b
    on a.img_id = b.picture_id
    where b.article_id = #{articleId,jdbcType=VARCHAR}
  </select>

</mapper>